*{
    padding: 0px;
    margin: 0px;
}
body {
  background-color: #141414 !important;

}
table {
 
  border-collapse: collapse;
  width: 100%;
}
h2{
  display: flex;
  justify-content: center;
  color: orange !important;
 
}

td, th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 8px !important;
  color: white;
}
th{
  color: orange !important;
}

.tophead{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn{
  border: 1px solid transparent;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: brown;
}

.image{
  height: 400px !important;
}
.topmenu{

  color:white;
}

li{
  list-style-type: none;
  color: white !important;
}
li a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 9px;
  border-radius: 15px;
}

.menuitem1 a{ 

  display: flex;
  justify-content: center;
  color: orange !important;
  font-size: 30px;
  text-decoration: none;
}
.menuitem1{
  width: auto;
  height: auto;
}
hr{
  color: white !important;
}
.sogukicecekler{
background-image: url(../image/sogukicecekler.jpg);
background-repeat:no-repeat;
}
.sicakicecekler{
background-image: url(../image/icecekresim.jpg);
background-repeat:no-repeat;
}
.nargileler{
  background-image: url(../image/nargile.jpg);
  background-repeat:no-repeat;
}

.yiyecekler{
  background-image: url(../image/yiyecekler.jpg);
  background-repeat:no-repeat;
}
.kahvaltiliklar{
  background-image: url(../image/kahvaltiliklar.jpg);
  background-repeat:no-repeat;
}
.tatlilarimiz{
  background-image: url(../image/sutlac.jpg);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.ontext {
  
    z-index: 9999999 !important;
}
.footer{
  background-color: black;
  height: 100px;
}
.maptext{
  color: orange !important ;
}
.map{
  max-width: 100% !important;
}