body {
  background-color: #141414 !important;
}
table {
 
  border-collapse: collapse;
  width: 100%;
}
h2{
  display: flex;
  justify-content: center;
 
}

td, th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 8px !important;
  color: white;
}

.tophead{
  display: flex;
  align-items: center;
  
  flex-direction: column;
}
.tophead{
 background-image: url("saygin.jpeg");
}

.btn{
  border: 1px solid transparent;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: brown;
}

.image{
  height: 450px !important;
}
.topmenu{

  color:white;
}

li{
  list-style-type: none;
  color: white !important;
  padding-top: 15px;
}
li a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 9px;
  border-radius: 15px;
}
.menuitem1{
  padding-top: 15px ;
}
hr{
  color: white !important;
}
.sogukicecekler{
background-image: url(sogukicecekler.jpg);
width: 600px;
height: 450px;
}